@model WebApplication11.Models.Productpage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Productpage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Imagename" class="control-label"></label>
                <input asp-for="Imagename" class="form-control" />
                <span asp-validation-for="Imagename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productname" class="control-label"></label>
                <input asp-for="Productname" class="form-control" />
                <span asp-validation-for="Productname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productprice" class="control-label"></label>
                <input asp-for="Productprice" class="form-control" />
                <span asp-validation-for="Productprice" class="text-danger"></span>
            </div
            <div class="form-group">
                <label class="control-label">UploadFile</label>
                <input asp-for="ImageFile" accept="Image/*"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

